@font-face {
  font-family: "font-cursive";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
  font-family: "font-medium";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "font-light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

$color-bg-light: rgba(238, 238, 238, 255);
$color-bg-dark: rgba(33, 32, 30, 255);
$color-black: black;

$color-font-light: $color-bg-light;
$color-font-brown: rgba(166, 114, 61, 255);
$color-font-grey: rgba(169, 166, 158, 255);
$color-font-dark: $color-bg-dark;

$font-light: "font-light", serif;
$font-medium: "font-medium", sans-serif;
$font-cursive: "font-cursive", serif;

@mixin center-unique-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: $font-light;
}

h1,
h3,
h5 {
  font-family: $font-cursive;
  color: $color-font-brown;
}

h2,
h4,
h6 {
  font-family: $font-medium;
  color: $color-font-dark;
  text-transform: uppercase;
}

span {
  text-transform: uppercase;
}

a,
a:visited {
  text-decoration: none;
  color: $color-font-dark;
  transition: 0.4s;
}
